<mat-form-field appearance="outline" class="password-field">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [type]="isVisible ? 'text' : 'password'"
    [formControl]="control"
    [attr.autocomplete]="autocomplete"
  />
  <button
    mat-button
    matSuffix
    type="button"
    class="password-field__toggle"
    (click)="toggleVisibility()"
    [attr.aria-pressed]="isVisible"
  >
    {{ isVisible ? 'Ukryj' : 'Pokaz' }}
  </button>
  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
</mat-form-field>
<div class="password-field__errors">
  <ng-content select="mat-error"></ng-content>
</div>
