<mat-form-field appearance="outline" class="password-field" subscriptSizing="dynamic">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [type]="isVisible ? 'text' : 'password'"
    [formControl]="control"
    [attr.autocomplete]="autocomplete"
    />
  <button
    mat-button
    matSuffix
    type="button"
    class="password-field__toggle"
    (click)="toggleVisibility()"
    [attr.aria-pressed]="isVisible"
    >
    {{ isVisible ? 'Ukryj' : 'Pokaz' }}
  </button>
  @if (hint) {
    <mat-hint>{{ hint }}</mat-hint>
  }
</mat-form-field>
<div
  class="password-field__errors mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align"
  aria-live="polite"
  aria-atomic="true"
  >
  <div class="mat-mdc-form-field-error-wrapper">
    <ng-content select="mat-error"></ng-content>
  </div>
</div>
