<app-auth-layout>
  <app-auth-form-card
    [title]="isEmailSent ? 'Sprawdz poczte' : 'Odzyskaj konto'"
    [subtitle]="
      isEmailSent
        ? 'Wyslalismy link resetu hasla na podany adres email.'
        : 'Wyslemy link resetu hasla na podany adres email.'
    "
    [showFooter]="!isEmailSent"
    >
    @if (!isEmailSent) {
      <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" autocomplete="email" />
          @if (form.controls.email.hasError('required')) {
            <mat-error>
              Email jest wymagany.
            </mat-error>
          }
          @if (form.controls.email.hasError('email')) {
            <mat-error>
              Podaj poprawny adres email.
            </mat-error>
          }
        </mat-form-field>
        <app-inline-error [message]="formError"></app-inline-error>
        <button mat-flat-button color="primary" type="submit" [disabled]="isSubmitting">
          Wyslij link resetu
        </button>
      </form>
    } @else {
      <div class="auth-form">
        <p>Jesli adres istnieje w naszej bazie, link resetu jest juz w drodze.</p>
        <a mat-flat-button color="primary" routerLink="/login">
          Wroc do widoku logowania
        </a>
      </div>
    }


    <div authCardFooter class="auth-card__footer-content">
      <span>Wrocic do logowania?</span>
      <a routerLink="/login">Zaloguj sie</a>
    </div>
  </app-auth-form-card>
</app-auth-layout>
